<h1>welcome to simile</h1>

<h2>the [NEIGHBORHOOD_NAME] of [TARGET_CITY] is [OUTPUT_NEIGHBORHOOD]</h2>

<a href="/">Agree?</a> <a href="/">Disagree?</a>

<h3>because</h3>
<ul>
<li>user submitted reasons (<a href="/">+1</a></li> 
</li>
