<div class="welcome">
  <h1>welcome to metaphor</h1>
</div>

<div class="metaphor_selector">
  <h2>the 
  <form action="/metaphor">
    <select value="sample">
      <option value="Logan Square">Logan Square (Chicago)</option>
    </select>
    of 
   
      <select>
        <option value="Philadelphia">Philadelphia</option>
      </select>
  <br>
    is ____________ </h2>
    <button>find out..</button>
  </form>
</div>
