<div class="welcome">
  <h1>welcome to metaphor</h1>
</div>

<div class="metaphor_selector">
  <h2>the 
Logan Square (Chicago)<br> of 
    <br>Philadelphia<br>
      <br>
    is<br><br> FISHTOWN </h2>
</div>

<div class="reasons">
  <h2>because...</h2>
<table class="reasons_table">
<tr>
<td>
  <table border=1>
    <tr>
      <td>User submitted reason</td>
      <td>^^ upvote ^^</td>
      <td>\ \ disagree</td>
      
  </tr>
  <tr>
    <td>example reason #1</td>
     <td>^^ upvote ^^</td>
      <td>\ \ disagree</td>
      </tr>
       <tr>
    <td>example reason #1</td>
     <td>^^ upvote ^^</td>
      <td>\ \ disagree</td>
      </tr>
  </table>
</td>
<td>
Add your own reason:
<form>
  <textarea>example</textarea><br>
  <button>submit reason</button>
  </form>
</td>
</tr>
</table>
</div>
